
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --zinc900: #18181b;
    --zinc800: #27272a;
    --zinc700: #3f3f46;
    --zinc600: #52525b;
    --zinc500: #71717a;
    --zinc400: #a1a1aa;
    --zinc300: #d4d4d8;
    --zinc200: #e4e4e7;
    --zinc100: #f4f4f5;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--zinc100);
    font-family: "Archivo", sans-serif;
    color: var(--zinc700);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header{
    height: 80px;
    font-size: 30px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.playerOne,
.playerTwo{
    width: 220px;
    height: 300px;
    padding: 5px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.playerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.playerOne h3,
.playerTwo h3,
.player1Score,
.player2Score{
    font-size: 23px;
    text-align: center;
    font-weight: bold;
}

.token{
    font-size: 24px;
    font-weight: 600;
}

.tokenDisplay{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.playerBox{
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.playerBox button{
    padding: 10px;
    min-width: 140px;
    align-self: center;
    border-radius: 5px;
    border: none;
    background-color: var(--zinc400);
    color: white;
}

.playerBox button:hover{
    background-color: var(--zinc600);
    color: white;
}

.playerBox input{
    padding: 5px;
    outline: none;
    border-radius: 2px;
    border: 1px solid black;
}

.wrapper{
    width: 500px;
    height: 500px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-board{
    height: 450px;
    width: 450px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
    background-color: var(--zinc300);
    box-shadow: 0px 7px 10px rgba(56, 56, 56, 0.753);
}

.gameCell{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--zinc100);
    font-size: 60px;
    background-color: var(--zinc600);
    cursor: pointer;
}

.gameCell:hover{
    background-color: var(--zinc700);
}

.controlBtns{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    gap: 20px;
}

.turnDisplay{
    color: var(--zinc700);
}

.winnerDisplay{
    height: 30px;
    margin-bottom: -20px;
}

.winnerText{
    color: var(--zinc700);
    text-align: center;
    margin: 0;
}

.controlBtns button{
    padding: 8px 15px;
    background-color: var(--zinc700);
    color: white;
    border-radius: 5px;
    border: none;
}

.controlBtns button:hover{
    background-color: var(--zinc900);
}

#footer{
    text-align: center;
    padding-bottom: 5px;
    color: var(--zinc900);
    font-size: 16px;
    margin-top: auto;
}

#github-logo{
    color: var(--zinc900);
    font-size: 20px;
    margin-right: 10px;
    margin-left: 5px;
    transition: transform 0.3s ease-in-out;
}
#github-logo:hover{
    transform: scale(1.1) rotate(360deg);
    transition: transform 0.3s ease-in-out;
}